*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color:darkred
}

.exemplo-classe{
    color:aqua;
}

#email{
    background-color: darkgray;
    height: 20px;
    border-radius: 25px;
}