* {
    margin: 0;
    padding: 0;
    box-sizing: 
    border-box
}

body  {
    font-family: 'segoe UI'; Arial, sans-serif;
    color:rgb(56, 56, 56);
    background-color: aliceblue; 
    line-height: 1.6;
}

h1  {
    font-size: 2rem;
}

h2  { 
    font-size: 1.Srem;
    margin-bottom: 12px;
    color:rgb(95, 93, 93)
}

p {
     margin-bottom: 12px;
}
    
a {
     color: #2a6bf2;
     text-decoration: none;
    
}
    
 a:hover {
        text-decoration: underline;
    }
nav a{
    color:white;
    font-weight: bold;
    text-decoration: nome;
}

nav a.houver {
    text-decoration: underline;
}

nav ul {
    list-style: nome;
}
nav {
    background-color: rgb(102, 102, 102);
}
nav li {
    display: inline-block;
    margin: 0 12px
}
#vantegens ul{
    list-style-type: 8px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, th{
    padding: 12px;
    border: 1px solid rgb(14, 57, 114);
    text-align: left;
}

thead{
    background-color:antiquewhite;
    color:aliceblue
}
tbody {
    background-color:blue;
    color:blueviolet
}
tbody tr:nth-child(even){
    background-color:beige;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(51, 48, 48)
}

main section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

header{
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo{
    margin-bottom: 10px;
}

header .logo img {
    width: 150px;
    margin-right: 10px;
    vertical-align: middle;
}

footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}
